<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/daniel-olahh.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
               
                <br/><br/>
                <div class="row">
                    <div class="col-md-3">
                        <div class="row">
                                <div >
                                        <div [routerLink]="['/home']" routerLinkActive="router-link-active"style="cursor: pointer;">
                                            <div class="card " style="border: solid #F5593D 1px; border-radius: 40px;background-color:transparent;">
                                                <div class="info">
                                                    <div class="icon icon-danger">
                                                        <i class="nc-icon nc-bulb-63"></i>
                                                    </div>
                                                    <div class="description">
                                                        <h4 class="info-title">MATEMARIKA</h4>
                                                        <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient.</p>
                                                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                        </div>
                        <div class="row">
                                <div  >
                                        <div [routerLink]="['/home']" routerLinkActive="router-link-active"style="cursor: pointer;">
                                            <div class="card " style="border: solid #F5593D 1px; border-radius: 40px;background-color:transparent;">
                                                <div class="info">
                                                    <div class="icon icon-danger">
                                                        <i class="nc-icon nc-bulb-63"></i>
                                                    </div>
                                                    <div class="description">
                                                        <h4 class="info-title">PROGRAMIRANJE</h4>
                                                        <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient.</p>
                                                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                        </div>
                        <div class="row">
                                <div  >
                                        <div [routerLink]="['/home']" routerLinkActive="router-link-active"style="cursor: pointer;">
                                            <div class="card " style="border: solid #F5593D 1px; border-radius: 40px;background-color:transparent;">
                                                <div class="info">
                                                    <div class="icon icon-danger">
                                                        <i class="nc-icon nc-bulb-63"></i>
                                                    </div>
                                                    <div class="description">
                                                        <h4 class="info-title">ELEKTROTEHNIKA</h4>
                                                        <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient.</p>
                                                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                        </div>
                    </div>
                    <div class="col-md-8" style=" margin-left: 20px;">
                            <div class="row">
                                    <div  >
                                            <div >
                                                <div class=" " style="width: 800px;height: 760px; border: solid #F5593D 1px; border-radius: 40px;background-color:transparent;">
                                                    <div class="info" style="padding: 50px 50px 50px 50px;">
                                                            <div class="table-wrapper-scroll-y my-custom-scrollbar table-responsive" style="border-radius: 20px;background-color:rgba(245, 89, 61,0.2);">          
                                                                    <table class="table  table-striped"  >
                                                                      <thead>
                                                                        <tr>
                                                                          <th>#</th>
                                                                          <th>Predmet</th>
                                                                          <th>Datum</th>
                                                                          <th>Predavac</th>
                                                                          <th>Tip</th>
                                                                          <th>Status</th>
                                                                          <th>Opcije</th>
                                                                        </tr>
                                                                      </thead>
                                                                      <tbody >
                                                                        <tr>
                                                                          <td>1</td>
                                                                          <td>PJISP</td>
                                                                          <td>datum1</td>
                                                                          <td>Stefan Ruvceski</td>
                                                                          <td>INDIVIDUALNO</td>
                                                                          <td>ZAKAZAN</td>
                                                                          <td>OBRISI</td> 
                                                                        </tr>
                                                                        <tr>
                                                                                <td>1</td>
                                                                                <td>PJISP</td>
                                                                                <td>datum1</td>
                                                                                <td>Stefan Ruvceski</td>
                                                                                <td>INDIVIDUALNO</td>
                                                                                <td>ZAKAZAN</td>
                                                                                <td>OBRISI</td> 
                                                                              </tr>
                                                                              <tr>
                                                                                    <td>1</td>
                                                                                    <td>PJISP</td>
                                                                                    <td>datum1</td>
                                                                                    <td>Stefan Ruvceski</td>
                                                                                    <td>INDIVIDUALNO</td>
                                                                                    <td>ZAKAZAN</td>
                                                                                    <td>OBRISI</td> 
                                                                                  </tr>
                                                                                  <tr>
                                                                                        <td>1</td>
                                                                                        <td>PJISP</td>
                                                                                        <td>datum1</td>
                                                                                        <td>Stefan Ruvceski</td>
                                                                                        <td>INDIVIDUALNO</td>
                                                                                        <td>ZAKAZAN</td>
                                                                                        <td>OBRISI</td> 
                                                                                      </tr>
                                                                                      <tr>
                                                                                            <td>1</td>
                                                                                            <td>PJISP</td>
                                                                                            <td>datum1</td>
                                                                                            <td>Stefan Ruvceski</td>
                                                                                            <td>INDIVIDUALNO</td>
                                                                                            <td>ZAKAZAN</td>
                                                                                            <td>OBRISI</td> 
                                                                                          </tr>
                                                                                          <tr>
                                                                                                <td>1</td>
                                                                                                <td>PJISP</td>
                                                                                                <td>datum1</td>
                                                                                                <td>Stefan Ruvceski</td>
                                                                                                <td>INDIVIDUALNO</td>
                                                                                                <td>ZAKAZAN</td>
                                                                                                <td>OBRISI</td> 
                                                                                              </tr>
                                                                                              <tr>
                                                                                                    <td>1</td>
                                                                                                    <td>PJISP</td>
                                                                                                    <td>datum1</td>
                                                                                                    <td>Stefan Ruvceski</td>
                                                                                                    <td>INDIVIDUALNO</td>
                                                                                                    <td>ZAKAZAN</td>
                                                                                                    <td>OBRISI</td> 
                                                                                                  </tr>
                                                                                                  <tr>
                                                                                                        <td>1</td>
                                                                                                        <td>PJISP</td>
                                                                                                        <td>datum1</td>
                                                                                                        <td>Stefan Ruvceski</td>
                                                                                                        <td>INDIVIDUALNO</td>
                                                                                                        <td>ZAKAZAN</td>
                                                                                                        <td>OBRISI</td> 
                                                                                                      </tr>
                                                                                                      <tr>
                                                                                                            <td>1</td>
                                                                                                            <td>PJISP</td>
                                                                                                            <td>datum1</td>
                                                                                                            <td>Stefan Ruvceski</td>
                                                                                                            <td>INDIVIDUALNO</td>
                                                                                                            <td>ZAKAZAN</td>
                                                                                                            <td>OBRISI</td> 
                                                                                                          </tr>
                                                                                                          <tr>
                                                                                                                <td>1</td>
                                                                                                                <td>PJISP</td>
                                                                                                                <td>datum1</td>
                                                                                                                <td>Stefan Ruvceski</td>
                                                                                                                <td>INDIVIDUALNO</td>
                                                                                                                <td>ZAKAZAN</td>
                                                                                                                <td>OBRISI</td> 
                                                                                                              </tr>
                                                                                                              <tr>
                                                                                                                    <td>1</td>
                                                                                                                    <td>PJISP</td>
                                                                                                                    <td>datum1</td>
                                                                                                                    <td>Stefan Ruvceski</td>
                                                                                                                    <td>INDIVIDUALNO</td>
                                                                                                                    <td>ZAKAZAN</td>
                                                                                                                    <td>OBRISI</td> 
                                                                                                                  </tr>
                                                                                                                  <tr>
                                                                                                                        <td>1</td>
                                                                                                                        <td>PJISP</td>
                                                                                                                        <td>datum1</td>
                                                                                                                        <td>Stefan Ruvceski</td>
                                                                                                                        <td>INDIVIDUALNO</td>
                                                                                                                        <td>ZAKAZAN</td>
                                                                                                                        <td>OBRISI</td> 
                                                                                                                      </tr>
                                                                                                                      <tr>
                                                                                                                            <td>1</td>
                                                                                                                            <td>PJISP</td>
                                                                                                                            <td>datum1</td>
                                                                                                                            <td>Stefan Ruvceski</td>
                                                                                                                            <td>INDIVIDUALNO</td>
                                                                                                                            <td>ZAKAZAN</td>
                                                                                                                            <td>OBRISI</td> 
                                                                                                                          </tr>
                                                                                                                          <tr>
                                                                                                                                <td>1</td>
                                                                                                                                <td>PJISP</td>
                                                                                                                                <td>datum1</td>
                                                                                                                                <td>Stefan Ruvceski</td>
                                                                                                                                <td>INDIVIDUALNO</td>
                                                                                                                                <td>ZAKAZAN</td>
                                                                                                                                <td>OBRISI</td> 
                                                                                                                              </tr>
                                                                                                                              <tr>
                                                                                                                                    <td>1</td>
                                                                                                                                    <td>PJISP</td>
                                                                                                                                    <td>datum1</td>
                                                                                                                                    <td>Stefan Ruvceski</td>
                                                                                                                                    <td>INDIVIDUALNO</td>
                                                                                                                                    <td>ZAKAZAN</td>
                                                                                                                                    <td>OBRISI</td> 
                                                                                                                                  </tr>
                                                                                                                                  <tr>
                                                                                                                                        <td>1</td>
                                                                                                                                        <td>PJISP</td>
                                                                                                                                        <td>datum1</td>
                                                                                                                                        <td>Stefan Ruvceski</td>
                                                                                                                                        <td>INDIVIDUALNO</td>
                                                                                                                                        <td>ZAKAZAN</td>
                                                                                                                                        <td>OBRISI</td> 
                                                                                                                                      </tr>
                                                                                                                                      <tr>
                                                                                                                                            <td>1</td>
                                                                                                                                            <td>PJISP</td>
                                                                                                                                            <td>datum1</td>
                                                                                                                                            <td>Stefan Ruvceski</td>
                                                                                                                                            <td>INDIVIDUALNO</td>
                                                                                                                                            <td>ZAKAZAN</td>
                                                                                                                                            <td>OBRISI</td> 
                                                                                                                                          </tr>
                                                                                                                                          <tr>
                                                                                                                                                <td>1</td>
                                                                                                                                                <td>PJISP</td>
                                                                                                                                                <td>datum1</td>
                                                                                                                                                <td>Stefan Ruvceski</td>
                                                                                                                                                <td>INDIVIDUALNO</td>
                                                                                                                                                <td>ZAKAZAN</td>
                                                                                                                                                <td>OBRISI</td> 
                                                                                                                                              </tr>
                                                                                                                                              <tr>
                                                                                                                                                    <td>1</td>
                                                                                                                                                    <td>PJISP</td>
                                                                                                                                                    <td>datum1</td>
                                                                                                                                                    <td>Stefan Ruvceski</td>
                                                                                                                                                    <td>INDIVIDUALNO</td>
                                                                                                                                                    <td>ZAKAZAN</td>
                                                                                                                                                    <td>OBRISI</td> 
                                                                                                                                                  </tr>
                                                                        <tr>
                                                                                <td>1</td>
                                                                                <td>PJISP</td>
                                                                                <td>datum1</td>
                                                                                <td>Stefan Ruvceski</td>
                                                                                <td>INDIVIDUALNO</td>
                                                                                <td>ZAKAZAN</td>
                                                                                <td>OBRISI</td> 
                                                                              </tr>
                                                                              <tr>
                                                                                    <td>1</td>
                                                                                    <td>PJISP</td>
                                                                                    <td>datum1</td>
                                                                                    <td>Stefan Ruvceski</td>
                                                                                    <td>INDIVIDUALNO</td>
                                                                                    <td>ZAKAZAN</td>
                                                                                    <td>OBRISI</td> 
                                                                                  </tr>
                                                                                  <tr>
                                                                          <td>1</td>
                                                                          <td>PJISP</td>
                                                                          <td>datum1</td>
                                                                          <td>Stefan Ruvceski</td>
                                                                          <td>INDIVIDUALNO</td>
                                                                          <td>ZAKAZAN</td>
                                                                          <td>OBRISI</td> 
                                                                        </tr>
                                                                        <tr>
                                                                                <td>1</td>
                                                                                <td>PJISP</td>
                                                                                <td>datum1</td>
                                                                                <td>Stefan Ruvceski</td>
                                                                                <td>INDIVIDUALNO</td>
                                                                                <td>ZAKAZAN</td>
                                                                                <td>OBRISI</td> 
                                                                              </tr>
                                                                              <tr>
                                                                          <td>1</td>
                                                                          <td>PJISP</td>
                                                                          <td>datum1</td>
                                                                          <td>Stefan Ruvceski</td>
                                                                          <td>INDIVIDUALNO</td>
                                                                          <td>ZAKAZAN</td>
                                                                          <td>OBRISI</td> 
                                                                        </tr>
                                                                        <tr>
                                                                                <td>1</td>
                                                                                <td>PJISP</td>
                                                                                <td>datum1</td>
                                                                                <td>Stefan Ruvceski</td>
                                                                                <td>INDIVIDUALNO</td>
                                                                                <td>ZAKAZAN</td>
                                                                                <td>OBRISI</td> 
                                                                              </tr>
                                                                      </tbody>
                                                                    </table>
                                                                    </div>
                                                                  </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                            </div>
                    
                </div> 
                    
             
</div>
</div>    
</div>
