


<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/daniel-olahh.jpg');">
  <div class="filter"></div>
  <div class="container">
      <div class="motto text-center">
            <br><br><br>
      <div class="columnsContainer">

            <div class="rightColumn">
              
                              <div >
                                      <div [routerLink]="['/home']" routerLinkActive="router-link-active"style="cursor: pointer;">
                                          <div class="card " style="height:150px;border: solid #F5593D 1px; border-radius: 40px;background-color:transparent;">
                                              <div class="info">
                                                  <div class="icon icon-danger">
                                                      <i class="nc-icon nc-ruler-pencil"></i>
                                                  </div>
                                                  <div class="description">
                                                      <h4 class="info-title">MATEMATIKA</h4>
                                                     
                                                      
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div >
                                        <div [routerLink]="['/home']" routerLinkActive="router-link-active"style="cursor: pointer;">
                                            <div class="card " style="height:150px;border: solid #F5593D 1px; border-radius: 40px;background-color:transparent;">
                                                <div class="info">
                                                    <div class="icon icon-danger">
                                                        <i class="nc-icon nc-ruler-pencil"></i>
                                                    </div>
                                                    <div class="description">
                                                        <h4 class="info-title">MATEMATIKA</h4>
                                                       
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                          
                              <div  >
                                      <div [routerLink]="['/home']" routerLinkActive="router-link-active"style="cursor: pointer;">
                                          <div class="card " style="height:150px;border: solid #F5593D 1px; border-radius: 40px;background-color:transparent;">
                                              <div class="info">
                                                  <div class="icon icon-danger">
                                                      <i class="nc-icon nc-laptop"></i>
                                                  </div>
                                                  <div class="description">
                                                      <h4 class="info-title">PROGRAMIRANJE</h4>
                                                      
                                                     
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                     
                              <div  >
                                      <div [routerLink]="['/home']" routerLinkActive="router-link-active"style="cursor: pointer;">
                                          <div class="card " style="height:150px;border: solid rgb(245, 89, 61) 1px; border-radius: 40px;background-color:transparent;">
                                              <div class="info">
                                                  <div class="icon icon-danger">
                                                      <i class="nc-icon nc-atom"></i>
                                                  </div>
                                                  <div class="description">
                                                      <h4 class="info-title">ELEKTROTEHNIKA</h4>
                                                      
                                                     
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                  </div>
                  
                   <div class="leftColumn">
                                  <div  >
                                          <div >
                                              <div class=" " style="border: solid #F5593D 1px; border-radius: 40px;background-color:rgba(0, 0, 0, 0.3);">
                                                  <div class="info"  style=" padding: 50px 50px 40px 50px;">
                                                          <!-- <div class="table-wrapper-scroll-y my-custom-scrollbar table-responsive" style="border-radius: 20px;background-color:rgba(245, 89, 61,0.2);">          
                                                                  <table  class="table  table-striped"  >
                                                                    <thead>
                                                                      <tr>
                                                                        <th>#</th>
                                                                        <th>Subject</th>
                                                                        <th *ngIf="!isTeacher()">Teacher</th>
                                                                        <th>Status</th>
                                                                        <th>Date</th>
                                                                        <th>Lesson</th>
                                                                        <th>Student count</th>
                                                                        <th>Options</th>
                                                                      </tr>
                                                                    </thead>
                                                                    <tbody >
                                                                      <tr *ngFor="let item of classes">
                                                                        <td>{{item.Id}}</td>
                                                                        <td>{{item.Subject}}</td>
                                                                        <td *ngIf="!isTeacher()">{{item.Teacher}}</td>
                                                                        <td>{{item.Status}}</td>
                                                                        <td>{{item.Date}}</td>
                                                                        <td>{{item.Lesson}}</td>
                                                                        <td>{{item.NumberOfStudents}}</td>
                                                                        <td class="center">
                                                                            
                                                                                <div *ngIf="isTeacherAccepted(item.Status)" class=" icon-danger" style="display:inline-block; cursor: pointer;">
                                                                                    <a  class="nav-link" rel="tooltip" title="Accept"  data-placement="bottom" (click)=onClickAccept(item.Id) >
                                                                                        <i class="nc-icon nc-check-2"></i>
                                                                                        <p class="d-lg-none">Twitter</p>
                                                                                    </a>
                                                                                </div>  
                                                                                <div *ngIf="isTeacherDeleted(item.Status)" class=" icon-danger" style="display:inline-block;cursor: pointer;">
                                                                                     <a class="nav-link" rel="tooltip" title="Delete" data-placement="bottom" (click)=onClickDelete(item.Id) >
                                                                                         <i class="nc-icon nc-simple-remove"></i>
                                                                                         <p class="d-lg-none">Twitter</p>
                                                                                     </a>
                                                                                </div>  
                                                                        </td> 
                                                                      </tr>
                                                                    
                                                                    </tbody>
                                                                  </table>
                                                                  </div> -->
                                                                  <full-calendar
                                                                  *ngIf="options"
                                                                  #fullcalendar
                                                                  [editable]="true"
                                                                  [events]="eventsModel"
                                                                  [header]="options.header"
                                                                  [customButtons]="options.customButtons"
                                                                  (dateClick)="options.dateClick($event)"
                                                                  (eventDrop)="options.eventDrop($event)"
                                                                  [plugins]="options.plugins"
                                                                  (eventClick)="options.eventClick($event)"
                       
                      ></full-calendar>
                                                                </div>
                                                  </div>
                                              </div>
                                          </div>
                                          
                                      
                         
                        </div>
                  
              </div> 
                  
           
</div>
</div>   
<!-- 

<div class="columnsContainer">

        <div class="leftColumn">
                <full-calendar style="height:500px;"
                *ngIf="options"
                #fullcalendar
                [editable]="true"
                [events]="eventsModel"
                [header]="options.header"
                [customButtons]="options.customButtons"
                (dateClick)="options.dateClick($event)"
                (eventDrop)="options.eventDrop($event)"
                [plugins]="options.plugins"
                (eventClick)="eventClick($event)"

></full-calendar>
        </div>
                   

        <div class="rightColumn">
                <div >
                        <div [routerLink]="['/home']" routerLinkActive="router-link-active"style="cursor: pointer;">
                            <div class="card " style="height:150px;border: solid #F5593D 1px; border-radius: 40px;background-color:transparent;">
                                <div class="info">
                                    <div class="icon icon-danger">
                                        <i class="nc-icon nc-ruler-pencil"></i>
                                    </div>
                                    <div class="description">
                                        <h4 class="info-title">MATEMATIKA</h4>
                                       
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        
                <div >
                        <div [routerLink]="['/home']" routerLinkActive="router-link-active"style="cursor: pointer;">
                            <div class="card " style="height:150px;border: solid #F5593D 1px; border-radius: 40px;background-color:transparent;">
                                <div class="info">
                                    <div class="icon icon-danger">
                                        <i class="nc-icon nc-ruler-pencil"></i>
                                    </div>
                                    <div class="description">
                                        <h4 class="info-title">MATEMATIKA</h4>
                                       
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        
        </div>
        <div >
                <div [routerLink]="['/home']" routerLinkActive="router-link-active"style="cursor: pointer;">
                    <div class="card " style="height:150px;border: solid #F5593D 1px; border-radius: 40px;background-color:transparent;">
                        <div class="info">
                            <div class="icon icon-danger">
                                <i class="nc-icon nc-ruler-pencil"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">MATEMATIKA</h4>
                               
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <div >
                <div [routerLink]="['/home']" routerLinkActive="router-link-active"style="cursor: pointer;">
                    <div class="card " style="height:150px;border: solid #F5593D 1px; border-radius: 40px;background-color:transparent;">
                        <div class="info">
                            <div class="icon icon-danger">
                                <i class="nc-icon nc-ruler-pencil"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">MATEMATIKA</h4>
                               
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>

</div> -->