

<div  class="page-header" data-parallax="true" style="background-image: url('./assets/img/daniel-olahh.jpg');">
  <div class="filter"></div>
  <div *ngIf="eventsModel == null"  style="background-color:black;" class="wrapper img-circle img-no-padding img-responsive" id="loader" >  </div>
  <div *ngIf="eventsModel != null" class="container">
      <div class="motto text-center">
            <br><br><br>
      <div class="columnsContainer">

            <div class="rightColumn">
              
                              <div >
                                      <div>
                                          <div class=" " style="height:150px;border: solid #F5593D 1px;margin-bottom: 20px; border-radius: 40px;background-color:transparent;">
                                              <div class="info center text-center">
                                                 
                                                 <h5 style=" color:white">CLASS LEGEND</h5>
                                                 <h6 style="border-radius: 5px; margin-left: 10px;margin-right: 10px; background-color: #f5d142;color:white">MINE</h6>
                                                 <h6 style="border-radius: 5px; margin-left: 10px;margin-right: 10px; background-color: #4287f5;color:white">REQUESTED</h6>
                                                 <h6 style="border-radius: 5px; margin-left: 10px;margin-right: 10px; background-color: #288010;color:white">ACCEPTED</h6>
                                                 <h6 style="border-radius: 5px; margin-left: 10px;margin-right: 10px; background-color: #f54242;color:white">DECLINED</h6>
                                             
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div *ngIf="isStudent()">
                                        <div [routerLink]="['/mathematics']" routerLinkActive="router-link-active"style="cursor: pointer;">
                                            <div class="card " style="height:150px;border: solid #F5593D 1px; border-radius: 40px;background-color:transparent;">
                                                <div class="info">
                                                    <div class="icon icon-danger">
                                                        <i class="nc-icon nc-ruler-pencil"></i>
                                                    </div>
                                                    <div class="description">
                                                        <h4 class="info-title">MATHEMATICS</h4>
                                                       
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                          
                              <div  *ngIf="isTeacher()">
                                      <div [routerLink]="['/home']" routerLinkActive="router-link-active"style="cursor: pointer;">
                                          <div class="card " style="height:150px;border: solid #F5593D 1px; border-radius: 40px;background-color:transparent;">
                                            <div class="info center text-center">
                                                 
                                              <br>
                                               
                                                <select style="width:10em;border-radius: 5px;text-align: center;margin-bottom: 10px;" size="3" >
                                                    <option *ngFor="let subject of notTeacherSubjects" (click)="onchangeSubject($event.target.innerText)">{{subject}} </option>
                                                 
                                                    
                                                </select>
                                                <br>
                                                <a (click)="onTeachSubject()" style="color:white;width: 150px;" class="btn btn-outline-default btn-lg btn-round"><i class="fa fa-user"></i>Teach</a>

                                             </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div  *ngIf="isSecretary()">
                                        <div [routerLink]="['/home']" routerLinkActive="router-link-active"style="cursor: pointer;">
                                            <div class=" " style="height:150px;border: solid #F5593D 1px; border-radius: 40px;background-color:transparent;">
                                              <div class="info center text-center">
                                                   
                                                  <h5 style=" color:white">ADD SUBJECT</h5>
                                                 
                                                  
                                                        <input value="{{newSubject}}" (keyup)="onKey($event)" class="btn-outline-default btn-lg btn-round" style="text-align: center;height:40px;width:150px;margin-bottom: 15px;" type="text"  placeholder="Subject">
                                                  
                                                  <br>
                                                  <a (click)="onAddNewSubject()" style="width: 150px;" class="btn btn-outline-default btn-lg btn-round"><i class="fa fa-user"></i>Add</a>
  
                                               </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="isStudent()" >
                                            <div [routerLink]="['/programming']" routerLinkActive="router-link-active"style="cursor: pointer;">
                                                <div class="card " style="height:150px;border: solid rgb(245, 89, 61) 1px; border-radius: 40px;background-color:transparent;">
                                                    <div class="info">
                                                        <div class="icon icon-danger">
                                                            <i class="nc-icon nc-atom"></i>
                                                        </div>
                                                        <div class="description">
                                                            <h4 class="info-title">PROGRAMMING</h4>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                     
                              <div *ngIf="isStudent()" >
                                      <div [routerLink]="['/electrotehnics']" routerLinkActive="router-link-active"style="cursor: pointer;">
                                          <div class="card " style="height:150px;border: solid rgb(245, 89, 61) 1px; border-radius: 40px;background-color:transparent;">
                                              <div class="info">
                                                  <div class="icon icon-danger">
                                                      <i class="nc-icon nc-atom"></i>
                                                  </div>
                                                  <div class="description">
                                                      <h4 class="info-title">ELECTROTEHNICS</h4>
                                                      
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                  </div>
                  
                   <div class="leftColumn">
                                  <div  >
                                          <div >
                                              <div class=" " style="border: solid #F5593D 1px; border-radius: 40px;background-color:rgba(0, 0, 0, 0.3);">
                                                  <div class="info"  style=" padding: 50px 50px 40px 50px;">
                                                          <!-- <div class="table-wrapper-scroll-y my-custom-scrollbar table-responsive" style="border-radius: 20px;background-color:rgba(245, 89, 61,0.2);">          
                                                                  <table  class="table  table-striped"  >
                                                                    <thead>
                                                                      <tr>
                                                                        <th>#</th>
                                                                        <th>Subject</th>
                                                                        <th *ngIf="!isTeacher()">Teacher</th>
                                                                        <th>Status</th>
                                                                        <th>Date</th>
                                                                        <th>Lesson</th>
                                                                        <th>Student count</th>
                                                                        <th>Options</th>
                                                                      </tr>
                                                                    </thead>
                                                                    <tbody >
                                                                      <tr *ngFor="let item of classes">
                                                                        <td>{{item.Id}}</td>
                                                                        <td>{{item.Subject}}</td>
                                                                        <td *ngIf="!isTeacher()">{{item.Teacher}}</td>
                                                                        <td>{{item.Status}}</td>
                                                                        <td>{{item.Date}}</td>
                                                                        <td>{{item.Lesson}}</td>
                                                                        <td>{{item.NumberOfStudents}}</td>
                                                                        <td class="center">
                                                                            
                                                                                <div *ngIf="isTeacherAccepted(item.Status)" class=" icon-danger" style="display:inline-block; cursor: pointer;">
                                                                                    <a  class="nav-link" rel="tooltip" title="Accept"  data-placement="bottom" (click)=onClickAccept(item.Id) >
                                                                                        <i class="nc-icon nc-check-2"></i>
                                                                                        <p class="d-lg-none">Twitter</p>
                                                                                    </a>
                                                                                </div>  
                                                                                <div *ngIf="isTeacherDeleted(item.Status)" class=" icon-danger" style="display:inline-block;cursor: pointer;">
                                                                                     <a class="nav-link" rel="tooltip" title="Delete" data-placement="bottom" (click)=onClickDelete(item.Id) >
                                                                                         <i class="nc-icon nc-simple-remove"></i>
                                                                                         <p class="d-lg-none">Twitter</p>
                                                                                     </a>
                                                                                </div>  
                                                                        </td> 
                                                                      </tr>
                                                                    
                                                                    </tbody>
                                                                  </table>
                                                                  </div> -->
                                                                  <full-calendar
                                                                  *ngIf="options"
                                                                  #fullcalendar
                                                                  [editable]="true"
                                                                  [events]="eventsModel"
                                                                  (eventDragStart)=options.eventDragStart($event)
                                                                  [header]="options.header"
                                                                  [customButtons]="options.customButtons"
                                                                  [eventLimit]="true"
                                                                  (dateClick)="options.dateClick($event)"
                                                                  (eventDrop)="options.eventDrop($event)"
                                                                  [plugins]="options.plugins"
                                                                  (eventClick)="options.eventClick($event)"
                       
                      ></full-calendar>
                                                                </div>
                                                  </div>
                                              </div>
                                          </div>
                                          
                                      
                         
                        </div>
                  
              </div> 
                  
           
</div>
</div>   

<button hidden id="radi" (click)="open()">dfds</button>
<button hidden id="changeDate" (click)="changeDate()">chan</button>
<button hidden id="dropable" (click)="dropable()">chan</button>
                                                  