
.my-custom-scrollbar {
    position: relative;
    height: 370px;
    }
    .table-wrapper-scroll-y {
    display: block;
    }

    html {
        overflow: scroll;
        overflow-y: hidden;
    }
    ::-webkit-scrollbar {
        width: 0px;  /* Remove scrollbar space */
        background: transparent;  /* Optional: just make scrollbar invisible */
    }

    input{
        background-color: rgba(0, 0, 0, 0.6);
        color:white;
    }
    select,option{
      background-color: rgba(0, 0, 0, 0.6);
      color:white;
  }

    table{
        color:white;
    }

    thead th {
        background-color:#34160F;
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        z-index: 10;
    }





    *, *:before, *:after {
        -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
      }
      
      body { margin: 0; }
      
      .columnsContainer, footer, header { position: relative; margin: .5em; }
      
      .leftColumn, .rightColumn, footer, header {   padding: 1.25em; }
      
      .leftColumn { margin-bottom: .5em; }
      
      .nav {
        list-style: none;
        margin-left: 0;
        margin-bottom: 0;
        padding-left: 0;
      }
      
      .nav > li,
      .nav > li > a {
        display: inline-block;
        *display: inline;
        zoom: 1;
      }
      
      .inline-items {
        margin-top: 0;
      }
      
      .inline-items li {
        margin-left: 0;
        border-left: 1px solid black;
        padding-left: 10px;
        padding-right: 10px;
      }
      
      .inline-items li:first-child {
        margin-left: 0;
        border: none;
        padding-left: 0;
        padding-right: 10px;
      }
      
      .inline-items li:last-child {
        padding-right: 0;
      }
      
      /* MEDIA QUERIES */
      @media screen and (min-width: 47.5em ) {
        .leftColumn { margin-left: 19.5em; }
      
          .rightColumn  { position: absolute; top: 0; left: 0; width: 18.75em; }   
      }


   
      #myVideo {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%; 
        min-height: 100%;
      }














      #loader {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 1;
        width: 150px;
        height: 150px;
        margin: -75px 0 0 -75px;
        border: 16px solid #F5593D;
        border-radius: 50%;
        border-top: 16px solid #4f565a;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
      }
      
      @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
      }
      
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
      
      /* Add animation to "page content" */
      .animate-bottom {
        position: relative;
        -webkit-animation-name: animatebottom;
        -webkit-animation-duration: 1s;
        animation-name: animatebottom;
        animation-duration: 1s
      }
      
      @-webkit-keyframes animatebottom {
        from { bottom:-100px; opacity:0 } 
        to { bottom:0px; opacity:1 }
      }
      
      @keyframes animatebottom { 
        from{ bottom:-100px; opacity:0 } 
        to{ bottom:0; opacity:1 }
      }
      