<div class="jumbotron">
    <h1>PRIVATNI CASOVI FTN SERVER</h1>
    <p class="lead">API for Privatni casovi FTN Angular web client app.</p>
   
</div>
<div class="row">
    <div class="col-md-4">
        <br /><br /><br /><br /><br /> <br /><br /><br /> <br /><br /><br /> <br /><br /><br /> 
    </div>
    <div class="col-md-4">
       
    </div>
    <div class="col-md-4">
     
    </div>
</div>
