<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/daniel-olahh.jpg');">
  <div class="filter"></div>
  <div class="container">
      <div class="motto text-center">
        <div class="columnsContainer">
            <h2 class="center">MATHEMATICS</h2>
            <br><br><br>
            <div class="row" name ="subjects" >
                <div class="col">
                  <div >
                      <div>
                          <div class=" card teacherDiv" >
                              <div class="info center text-center">
                                  <h4 class="images-title">ALGEBRA</h4>
                                  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/3D_coordinate_system.svg/1200px-3D_coordinate_system.svg.png" style="width: 50;" class="img-circle img-no-padding img-responsive" alt="Rounded Image">
                                 
                                      
                              </div>
                          </div>
                      </div>
                  </div>
                </div>
                <div class="col">
                    <div >
                        <div>
                            <div class=" card teacherDiv">
                                <div class="info center text-center">
                                    <h4 class="images-title">ANALYSIS 1</h4>
                                    <img src="https://i.imgur.com/BeFDdXm.png" style="width: 50;" class="img-circle img-no-padding img-responsive" alt="Rounded Image">
                                  
                                        
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="col">
                      <div >
                          <div>
                              <div class=" card teacherDiv" >
                                  <div class="info center text-center">
                                      <h4 class="images-title">DISCRETE MATH</h4>
                                      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/34/Independent_set_graph.svg/220px-Independent_set_graph.svg.png" style="width: 50;" class="img-circle img-no-padding img-responsive" alt="Rounded Image">
                                     
                                          
                                  </div>
                              </div>
                          </div>
                      </div>
                    </div>
                    <div class="col">
                        <div >
                            <div>
                                <div class=" card teacherDiv" >
                                    <div class="info center text-center">
                                        <h4 class="images-title">ANALYSIS 2</h4>
                                        <img src="https://cdn1.iconfinder.com/data/icons/dotted-charts/512/sine_plot-2-512.png" style="width: 50;" class="img-circle img-no-padding img-responsive" alt="Rounded Image">
                                      
                                            
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
              </div>
              <hr>
          <div class="row" name="teachers">
            <div class="col-xl-3" *ngFor="let teacher of mathTeachers">
              <div >
                  <div>
                      <div class="center card teacherDiv" >
                          <div class="info center text-center">
                              <h4 class="images-title">{{teacher.FirstName}} {{teacher.LastName}}</h4>
                              <img [src]="teacher.Image" style="width: 50;" class="img-circle img-no-padding img-responsive" alt="Rounded Image">
                              <br>
                              <p class="text-center">{{teacher.Email}}</p>    
                          </div>
                      </div>
                  </div>
              </div>
            </div>
           
          </div>
         
        </div> 
    </div>
  </div>   